doctype html
html
  head
    meta(charset='utf-8')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')

    link(rel='stylesheet', href='styles/main.css')
  body
    
    include includes/nav.pug
  
    .mw8.ph4.center.w-100.items-center-ns.flex.mt3.mt5-ns.flex-column.flex-row-ns
      .w-100.w-30-ns.fl.pr0.pr4-ns.z-2.mb3.relative
        p.f6.lh-solid.ttu.tracked.ma0.fw5.reveal
          | Canon Guides
        .f2.f1-m.f-5-ns.tungsten.ttu.lh-tungsten.mt3.mb4.overflow-visible.reveal
          | Iceland — The
          | Photographer’s paradise
        .reveal  
          a(href='#').w-100.w-auto-ns.f3.link.dim.ph3.pv3.dib.tc.white.bg-black.tungsten.ttu
            | Explore Iceland
      .w-100.w-70-ns.fl.z-1
        .relative
          img(src='images/canon-hero2.jpg').db.z-1.relative.reveal
          .bg-pale-blue.nl6-ns.nl4.ma6.w-100.h-100.absolute.top-0.left-0.reveal.absolute-ns
            .dib.pl4.pa3-ns.absolute.right-1.bottom-1.flex.items-center
              .pr3
                p.f7.ma0.ttu.fw5.tracked
                  | Taken with EF 85mm Lens
                .fl.pr3.pt2
                  | f/11
                .fl.pr3.pt2
                  | 1/100
                .fl.pt2
                  | ISO
              .br-100.fl.bg-white.w3.h3.overflow-hidden.pa3.flex-none
                img(src='images/lens.png').of-contain.h-100.w-100
                
                
                
                
    .mw8.ph4.center.w-100.mt7.mb2.justify-between.flex.flex-column.justify-between.flex-row-l
      div.w-100.w-40-l
        .INPUT-WRAPPER.relative
          input.b(placeholder='Search Products', style='background-image: url("images/search.svg"); background-position: calc(100% - 12px) center').input-reset.bw1.b--black.pa3.db.w-100.bg-right#search-products
          .ma2.pa2.bg-white.bl-0.tc.absolute.right-0.top-0.dn#search-exit
            img(src='images/cross.svg')
        .mt1
          .f7.fw5.tracked.ttu.dib.pr3
            | popular
          ul.pa0.f7.fw5.dib
            li.pr2.dib.link
              | EOS 700D  
            li.pr2.dib.link
              | 5D Mark IV  
            li.pr2.dib.link
              | Canon EF
      div.w-100.w-50-l
        .f2.f1-m.f-5-ns.tungsten.ttu.dib.fl.fr-ns.lh-tungsten.mt0-ns.mv4.reveal.tl.tr-ns#search-results
          span.red.tungsten
            | New
          br  
          | Arrivals
    .mw8-l.center.w-100.cf.ph3.ph0-ns
      #search-filter.hidden.z-2.relative
        .fl.w-50.w-50-m.w-third-ns.pa3.pa4-ns.absolute.bg-white
          .aspect-ratio.aspect-ratio--1x1
            .aspect-ratio--object.justify-between.flex.flex-column.align-center
              .f6.f4-ns.fw5
                .f6.mb4
                  | Filter results
                
                ul.list.ma0.pa0
                  li.link.dim.pb3.silver New
                    sup.ml1 3
                  li.link.dim.pb3 Cameras
                    sup.ml1 23
                  li.link.dim.pb3.silver Camcorders
                    sup.ml1 1
                  li.link.dim.pb3.silver Printers
                    sup.ml1 3
                  li.link.dim.pb3.silver All
                    sup.ml1 30

              
      .fl.w-50.w-50-m.w-third-ns.pa3.pa4-ns.z-1.relative
        .aspect-ratio.aspect-ratio--1x1.component-border
          .aspect-ratio--object.justify-between.flex.flex-column.align-center
            .f6.f4-ns.fw5.pv3.pv4-ns
              | Lenses for EOS 5D MARK IIIV
            img(src='images/eos-5d-profile.png').of-contain.self-start.w-50
            a(href='#').f6.fw5.link.black.dim.dt.pr3.db.mv2.mv4-ns
              | Explore
      .fl.w-50.w-50-m.w-third-ns.pa3.pa4-ns
        .aspect-ratio.aspect-ratio--1x1.component-border
          .aspect-ratio--object.justify-between.flex.flex-column.align-center
            .f6.f4-ns.fw5.pv3.pv4-ns
              | Canon EOS 80D + 18-55mm IS STM Lens
            img(src='images/eos-5d.png').of-contain.self-start.w-50
            a(href='#').f6.fw5.link.black.dim.dt.pr3.db.mv2.mv4-ns
              | Explore
      .fl.w-50.w-50-m.w-third-ns.pa3.pa4-ns
        .aspect-ratio.aspect-ratio--1x1.component-border
          .aspect-ratio--object.justify-between.flex.flex-column.align-center
            .f6.f4-ns.fw5.pv3.pv4-ns
              | Explore the handsome looking G9X
            img(src='images/gx9.png').of-contain.self-start.w-50
            a(href='#').f6.fw5.link.black.dim.dt.pr3.db.mv2.mv4-ns
              | Explore
      .fl.h-100.w-50.w-50-m.w-third-ns.pa3.pa4-ns
        .aspect-ratio.aspect-ratio--1x2
          .aspect-ratio--object.pa3.pa4-ns.justify-between.flex.flex-column.align-center(style='background-image:url("images/city-guide.jpg")').bg-center.cover
            .f2.f1-m.f-5-ns.tungsten.lh-tungsten.ttu.white
              | OFFICIAL CANON CITY GUIDE
            a(href='#').f6.fw5.link.white.dim.ttu.tracked.db.pt4
              | Explore guide
      .fl.w-50.w-100-m.w-two-thirds-ns.pa3.pa4-ns
        .aspect-ratio.aspect-ratio--1x1.aspect-ratio--2x1-ns.component-border
          .aspect-ratio--object.justify-between.flex.flex-column.align-center
            .f6.f4-ns.fw5.pv3.pv4-ns.w-100.w-50-ns
              | Canon EF-M 18-150mm f/3.5-6.3 IS STM Lens - Silver
            img(src='images/lens-ef.png').of-contain.self-end-ns.w-50.w-third-ns
            a(href='#').f6.fw5.link.black.dim.dt.pr3.db.mv2.mv4-ns
              | Explore
      .fl.w-50.w-50-m.w-third-ns.pa3.pa4-ns
        .aspect-ratio.aspect-ratio--1x1.component-border
          .aspect-ratio--object.justify-between.flex.flex-column.align-center
            .f6.f4-ns.fw5.pv3.pv4-ns
              | EOS compatible lenses
            img(src='images/eos-5d-profile.png').of-contain.self-start.w-50
            a(href='#').f6.fw5.link.black.dim.dt.pr3.db.mv2.mv4-ns
              | Explore
      .fl.h-100.w-50.w-50-m.w-third-ns.pa3.pa4-ns
        .w-100.w-50-ns
          .aspect-ratio.aspect-ratio--1x1
            .aspect-ratio--object.bw1.b--black.b--solid.pa3.flex.flex-column.justify-between
              .f1.f1-m.f-5-ns.tungsten.lh-tungsten.ttu
                | Free
              .f6.fw5
                | Delivery & Shipping
        .w-100.w-50-ns.ml-a
          .aspect-ratio.aspect-ratio--1x1
            .aspect-ratio--object.bg-black.pa3.flex.flex-column.justify-between
              .f1.f1-m.f-5-ns.tungsten.lh-tungsten.ttu.white
                | 02
              .f6.white.fw5
                | Year guarantee
    script(src='scripts/jquery-3.2.1.min.js')
      
    script(src='scripts/main.js')
