doctype html
html
  head
    meta(charset='utf-8')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')

    link(rel='stylesheet', href='styles/main.css')
  body
    
    include includes/nav.pug
  
    .mw8.ph4.center.w-100.items-center-ns.flex.mt6.flex-column.flex-row-ns
      .w-100.w-30-ns.fl.pr0.pr4-ns.z-2.mb3.relative
        p.f7.lh-solid.ttu.tracked.ma0.b.reveal
          | Canon Guides
        h1.f1.f0-ns.tungsten.ttu.lh-tungsten.mt3.mb4.overflow-visible.reveal.word-wrap
          | Iceland — The
          | Photographer’s paradise
        .reveal  
          a(href='#').w-100.w-auto-ns.f3.link.dim.ph3.pv3.dib.white.bg-black.tungsten.ttu
            | Explore Mirrorless
      .w-100.w-70-ns.fl.z-1
        .relative
          img(src='images/canon-hero2.jpg').db.z-1.relative.reveal
          .bg-pale-blue.nl6-ns.nl4.ma6.w-100.h-100.absolute.top-0.left-0.reveal
            .dib.pl4.pa3-ns.absolute.right-1.bottom-1.flex.items-center
              .pr3
                p.f7.ma0.ttu.b.tracked
                  | Taken with EF 85mm Lens
                .fl.pr2.pt2
                  | f/11
                .fl.pr2.pt2
                  | 1/100
                .fl.pt2
                  | ISO
              .br-100.fl.bg-white.w3.h3.overflow-hidden.pa3.flex-none
                img(src='images/lens.png').of-contain.h-100.w-100
                
                
                
                
    .mw8.ph4.center.w-100.mt7.mb2.justify-between.flex.flex-column.justify-between.flex-row-l
      div.w-100.w-40-l
        input(placeholder='Search Products').input-reset.bw1.b--black.pa3.db.w-100
        .mt3
          .f7.b.tracked.ttu.dib.pr3
            | popular
          ul.pa0.f7.b.dib
            li.pr2.dib.link
              | EOS 700D  
            li.pr2.dib.link
              | 5D Mark IV  
            li.pr2.dib.link
              | Canon EF
      div.w-100.w-50-l
        h1.f1.f0-ns.tungsten.ttu.lh-tungsten.mt0-ns.mb4.pre.overflow-visible.reveal.tr
          span.red.tungsten
            | New
          br  
          | Arrivals
    .mw8-l.center.w-100.cf.ph3.ph0-ns
      - for(var x = 1;x <= 5;x++) 
        .fl.w-50.w-50-m.w-third-ns.pa3.pa4-ns.reveal
          .aspect-ratio.aspect-ratio--1x1.bt.bw1
            .aspect-ratio--object.justify-between.flex.flex-column.align-center
              .f6.f4-ns.b.pv4
                | Lenses for EOS 5D MARK IIIV
              img(src='images/gx9.png').of-contain.self-start.w-50
              a(href='#').f7.b.link.black.ttu.tracked.db.pv4
                | Explore
          
    script(src='scripts/jquery-3.2.1.min.js')
      
    script(src='scripts/main.js')
