.fl.w-50.w-50-m.w-third-ns.pa3.pa4-ns
  .aspect-ratio-ns.aspect-ratio--1x1-ns
    .aspect-ratio--object-ns.justify-between.flex.flex-column.align-center
.fl.w-50.w-50-m.w-third-ns.pa3.pa4-ns
  .aspect-ratio-ns.aspect-ratio--1x1-ns.component-border
    .aspect-ratio--object-ns.justify-between.flex.flex-column.align-center
      .f6.f4-ns.fw5.pv3.pv4-ns
        | Canon EOS 77D Body
      img(src='images/eos-5d-profile.png').of-contain.self-start.w-50
      a(href='#').f6.fw5.link.black.dim.dt.pr3.db.mv2.mv4-ns
        | Explore
.fl.w-50.w-50-m.w-third-ns.pa3.pa4-ns
  .aspect-ratio-ns.aspect-ratio--1x1-ns.component-border
    .aspect-ratio--object-ns.justify-between.flex.flex-column.align-center
      .f6.f4-ns.fw5.pv3.pv4-ns
        | Canon EOS 77D + 18-55 IS STM Lens
      img(src='images/eos-5d-profile.png').of-contain.self-start.w-50
      a(href='#').f6.fw5.link.black.dim.dt.pr3.db.mv2.mv4-ns
        | Explore
.fl.w-50.w-50-m.w-third-ns.pa3.pa4-ns
  .aspect-ratio-ns.aspect-ratio--1x1-ns.component-border
    .aspect-ratio--object-ns.justify-between.flex.flex-column.align-center
      .f6.f4-ns.fw5.pv3.pv4-ns
        | Canon EOS 77D + 18-135mm IS USM Lens
      img(src='images/eos-5d-profile.png').of-contain.self-start.w-50
      a(href='#').f6.fw5.link.black.dim.dt.pr3.db.mv2.mv4-ns
        | Explore
