$heading-color: hotpink;


@font-face {
    font-family: tungsten;
    src: url('/fonts/Tungsten-Semibold.woff');
}

.tungsten {
  font-family: tungsten;
  -webkit-font-smoothing: antialiased;
}

.lh-tungsten {
  line-height: 0.8;
}
input::placeholder {
  color: black;
}
.f7 {
  font-size: .75rem;
}
.mr-a {
  margin-right: auto
}
.ml-a {
  margin-left: auto
}
.of-contain {
  object-fit: contain;
}

.of-cover {
  object-fit: cover;
}

.reveal {
  opacity: 0;
  transform: translateY(-10px);
  transition: 1s cubic-bezier(.06,.73,.36,1) all;
  transition-delay: 0.1s;
}

.bg-pale-blue {
  background-color: #E3EAF2;
}

.reveal_visible {
  transform: translate(0);
  opacity: 1;
}

.component-border {
  box-shadow: 0px 2px 0px 0 #000 inset;
}
#search-filter {
  transition: 0.4s all cubic-bezier(.06,.73,.36,1);
  transform: translateX(0);
  opacity: 1;
  &.hidden {
    transform: translateX(-50px);
    opacity: 0;
  }
}
.aspect-ratio--1x2 {
    padding-bottom: calc(200% + 4rem);
}

.aspect-ratio--2x1 {
    padding-bottom: calc(50% - 2rem);
}
@media screen and (min-width: 30em) {
  .aspect-ratio--2x1-ns {
      padding-bottom: calc(50% - 2rem);
  }
}
* {box-sizing: border-box; font-family: gotham, sans-serif;}
